<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
</head>

<body class="home">

<!-- Start Data Vis Code -->

<head>
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
<div id="select-div" class="sel3"></div>
<div id="chart"></div>
<br>

<!-- End Data Vis Code --> 

<script type="text/javascript">
/* Copyright 2017 Tom Shanley
forked from http://blockbuilder.org/tomshanley/a94a879c8d28e302ac2b89228f9bd1f7
by Tom Shanley 
*/

let data = [
  {
    "category": "First-Generation",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 22,
    "header": "Of every 100 first-generation applicants..."
  },
  {
    "category": "First-Generation",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 78,
    "header": "Of every 100 first-generation applicants..."
  },
  {
    "category": "Income Bracket (A)",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 19,
    "header": "Of every 100 applicants whose families made less than $25,000 a year..."
  },
  {
    "category": "Income Bracket (A)",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 81,
    "header": "Of every 100 applicants whose families made less than $25,000 a year..."
  },
  {
    "category": "Income Bracket (B)",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 20,
    "header": "Of every 100 applicants whose families made $25,000-$60,000 a year..."
  },
  {
    "category": "Income Bracket (B)",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 80,
    "header": "Of every 100 applicants whose families made $25,000-$60,000 a year..."
  },
  {
    "category": "Income Bracket (C)",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 19,
    "header": "Of every 100 applicants whose families made $60,000-$80,000 a year..."
  },
  {
    "category": "Income Bracket (C)",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 81,
    "header": "Of every 100 applicants whose families made $60,000-$80,000 a year..."
  },
  {
    "category": "Income Bracket (D)",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 17,
    "header": "Of every 100 applicants whose families made $80,000-$150,000 a year..."
  },
  {
    "category": "Income Bracket (D)",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 83,
    "header": "Of every 100 applicants whose families made $80,000-$150,000 a year..."
  },
  {
    "category": "Income Bracket (E)",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 18,
    "header": "Of every 100 applicants whose families made more than $150,000 a year..."
  },
  {
    "category": "Income Bracket (E)",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 82,
    "header": "Of every 100 applicants whose families made more than $150,000 a year..."
  },
  {
    "category": "Underrepresented Minorities",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 22,
    "header": "Of every 100 underrepresented minority applicants..."
  },
  {
    "category": "Underrepresented Minorities",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 78,
    "header": "Of every 100 underrepresented minority applicants..."
  },
  {
    "category": "International",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 10,
    "header": "Of every 100 international applicants..."
  },
  {
    "category": "International",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 90,
    "header": "Of every 100 international applicants..."
  },
  {
    "category": "Asian or Pacific Islander",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 21,
    "header": "Of every 100 Asian or Pacific Islander applicants..."
  },
  {
    "category": "Asian or Pacific Islander",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 79,
    "header": "Of every 100 Asian or Pacific Islander applicants..."
  },
  {
    "category": "White or Other",
    "subcategory": "were accepted",
    "position": "left",
    "percentage": 19,
    "header": "Of every 100 white or ethnicity-unlisted applicants..."
  },
  {
    "category": "White or Other",
    "subcategory": "were rejected",
    "position": "right",
    "percentage": 81,
    "header": "Of every 100 white or ethnicity-unlisted applicants..."
  }
 ]
</script> 
<script type="text/javascript">
/* Copyright 2017 Tom Shanley
forked from http://blockbuilder.org/tomshanley/a94a879c8d28e302ac2b89228f9bd1f7
by Tom Shanley
*/

function wrap(text, width) {
    text.each(function () {
        var text = d3.select(this),
            words = text.text().split(/\s+/).reverse(),
            word,
            line = [],
            lineNumber = 0,
            lineHeight = 1.1, // ems
            x = text.attr("x"),
            y = text.attr("y"),
            dy = 0, //parseFloat(text.attr("dy")),
            tspan = text.text(null)
                        .append("tspan")
                        .attr("x", x)
                        .attr("y", y)
                        .attr("dy", dy + "em");
        while (word = words.pop()) {
            line.push(word);
            tspan.text(line.join(" "));
            if (tspan.node().getComputedTextLength() > width) {
                line.pop();
                tspan.text(line.join(" "));
                line = [word];
                tspan = text.append("tspan")
                            .attr("x", x)
                            .attr("y", y)
                            .attr("dy", ++lineNumber * lineHeight + dy + "em")
                            .text(word);
            }
        }
    });
}
const radius = 7;
const gap = 6;

const noOfDots = 100
margin.top = 0
margin.right=100;
margin.bottom=0

let selectedCategory = "First-Generation"

let nestedData = d3
  .nest()
  .key(function (d) {return d.category })
  .entries(data)

const select = d3.select('#select-div')
.append('select')
.attr('id', 'category-select')

select
  .selectAll('option')
  .data(nestedData)
  .enter()
  .append('option')
  .attr('value', function (d) {
    return d.key
  })
  .text(function (d) {
    return d.key
  })


let positions = ["left", "right"]

select.on("change", function (d) {
      selectedCategory = d3.select(this).property("value");
      update()
  })

let color2 = d3.scaleOrdinal()
  .range(["#5A3B48", "#93B7BE"])
  .domain(positions)

const svg_chart = d3
  .select('#chart')
  .append('svg')
  .attr('width', width + margin.left + margin.right)
  .attr('height', height + margin.top + margin.bottom)

const g = svg_chart
  .append('g')
  .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')

let nodes = []

let xScale = d3.scalePoint()
    .range([0, width])
    .domain(positions)
    .padding(0.5)


//changed this so that if the number is smaller in the right group it wouldn't drop one person
for (var i = 0; i < noOfDots; i++) {
  node = {};
  nestedData.forEach(function (d) {
    node[d.key] = i < d.values[0].percentage ? d.values[0].position : d.values[1].position
  })
  nodes.push(node)
}

var simulation = d3
  .forceSimulation(nodes)
  .force('charge', d3.forceManyBody().strength(5))
  .force('x', d3.forceX().x(function (d) {
      return xScale(d[selectedCategory])
    })
  )
  .force('y', d3.forceY().y((height/2) + 50))
  .force('collision', d3.forceCollide().radius(function (d) {
      return radius + gap
    })
  )
  .stop()

runSimulation()

let nestByPosition = d3.nest()
    .key(function (d) {
        return d.position
    })
    .sortKeys(d3.ascending)
    .entries(data)

var title = g.append("g")
    .attr("class", "title")
    .selectAll("text")
    .data(nestByPosition)
    .enter()
    .append("g")
    .attr("transform", function(d) {
        return  "translate(" + (width/2 - 45) + "," + 250 + ")";
    })


title.append("text")
    .attr("class", "title")
    .attr("x", -200)
    .attr("y", -220)
  .attr("font-family", "benton-sans")
    .style("fill", "#00B0DA")
  .text(function(d){
        let index = d.values.findIndex(findCategory)
        return d.values[index].header
    })
  .call(wrap, 500);

var labels = g.append("g")
    .attr("class", "labels")
    .selectAll("text")
    .data(nestByPosition)
    .enter()
    .append("g")
    .attr("transform", function(d) {
        return  "translate(" + xScale(d.key) + "," + 90 + ")";
    })


labels.append("text")
    .attr("class", "label label-subcategory")
    .attr("y", 30)
    .style("fill", function(d){
        return color2(d.key)
    })
    .text(function(d){
        let index = d.values.findIndex(findCategory)
        return d.values[index].subcategory
    })

labels.append("text")
    .attr("class", "label label-percentage")
  .attr("y", 12)
    .style("font-weight", "bold")
    .style("fill", function(d){
        return color2(d.key)
    })
    .text(function(d){
        let index = d.values.findIndex(findCategory)
        return d.values[index].percentage
    //return d.values[index].percentage + "%"
    })

 var circles = g.append("g")
    .attr("class", "circles")
    .selectAll('circle')
    .data(nodes)
    .enter()
    .append('circle')
    .attr('r', radius)
    .style('fill', function (d) {
        return color2(d[selectedCategory]) })
    .attr('cx', function (d) {
        return d.x
    })
    .attr('cy', function (d) {
        return d.y
    })

function update() {

    simulation.force('x', d3.forceX().x(function (d) {
        return xScale(d[selectedCategory])
      })
    )

    simulation.alpha(1)
    runSimulation()

//remove title

  d3.selectAll(".title").remove()
  //title.selectAll(".title")
  //.style("opacity", 0)

//fade in title and update text - synchronize with the appearance of the dots, which have a delay specified.

var title = g.append("g")
    .attr("class", "title")
    .selectAll("text")
    .data(nestByPosition)
    .enter()
    .append("g")
    .attr("transform", function(d) {
        return  "translate(" + (width/2 - 45) + "," + 250 + ")";
    })


  title.selectAll(".title").transition()
  .duration(2000)
  .delay(function(d, i){
    return i * 5
  })
  .style("opacity", 1)

title.append("text")
    .attr("class", "title")
    .attr("x", -200)
    .attr("y", -220)
  .attr("font-family", "benton-sans")
    .style("fill", "#00B0DA")
  .text(function(d){
        let index = d.values.findIndex(findCategory)
        return d.values[index].header
    })
  .call(wrap, 500);

  labels.selectAll(".label-subcategory")
  .style("opacity", 0)

  labels.selectAll(".label-percentage")
  .style("opacity", 0)

  labels.selectAll(".label-subcategory").transition()
  .duration(2000)
  .delay(function(d, i){
    return i * 5
  })
  .style("opacity", 1)
    .text(function(d){
        let index = d.values.findIndex(findCategory)
        return d.values[index].subcategory
    })

    labels.selectAll(".label-percentage").transition()
  .duration(2000)
  .delay(function(d, i){
    return i * 5
  })
  .style("opacity", 1)
    .text(function(d){
        let index = d.values.findIndex(findCategory)
        return d.values[index].percentage
    })

    circles.transition()
      .duration(1000)
      .delay(function(d, i){
        return i * 5
      })
      .attr('cx', function (d) {
        return d.x
        })
      .attr('cy', function (d) {
        return d.y
        })
      .style('fill', function (d) {
        return color2(d[selectedCategory]) })

}

function runSimulation() {
    for (var i = 0; i < 120; i++) {
        simulation.tick()
    }
};

function findCategory(d) {
    return d.category == selectedCategory
};
</script>
</body>

</body>
</html>
