<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>Admissions audit explained</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>Diversity and privilege in UC Berkeley undergraduate admissions</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="https://www.dailycal.org/author/vraman/" target="_blank">Vyoma Raman</a>, <a href="">Kaylei Nilson-Pierce</a>, AND <a href="">Yasmin Gehman</a>
            </span> <br /> <span class="timestamp"> <time datetime="2020-07-24T08:00-0800">MARCH 1, 2021</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
