//Custom css
.sel {
  background-color: #D0ADA7;
  height: 35px;
  top: 70px;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
}

.tooltip {
  position: absolute;
  background: white;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 10px;
  opacity: 0;
  font-family: Arial;
}

g {
  font-size: 15px;
}

.select-items div,.select-selected {
  border-radius: 15px;
}
